* {
  /*font-family:"Helvetica Neue", Helvetica, Arial;*/
  font-size: 12px;
  color: @Text;
}

QDialog{
    border: 1px solid #ddd;
}

QToolBar {
    spacing: 10px; /* spacing between items in the tool bar */
    padding: 5px;
}

QScrollArea{
    border-style: none;
}

QSpinBox, QDoubleSpinBox, QAbstractSpinBox, QLineEdit, QComboBox {
    padding: 4px 6px 4px 6px;
}

QStatusBar {
    min-height: 20px;
    border-top: 1px solid #ddd;
}

QPushButton {
    background-color: white;
    text-align: center;
    border: 1px solid #828282;
    padding: 5px 12px 5px 12px;
    margin: 4px 8px 4px 8px;
    border-radius: 3px;
    min-width: 70px;
    min-height: 14px;
}

QPushButton:hover,
QPushButton:focus {
    color: black;
    border-color: #3874f2;
}

QPushButton:hover{
    background-color: #e0eef9;
}

QPushButton:disabled,
QPushButton:disabled:checked {
    color: #b6b6b6;
    background-color: #e6e6e6;
    border-color: #b6b6b6;
}

QPushButton:pressed {
    background-color: #3874f2;
}

QPushButton:checked {
    background-color: #5e90fa;
    border-color: #3874f2;
}

QLineEdit {
    color: black;
    background-color: white;
    selection-color: black;
    selection-background-color: @Highlight;
    border: 1px solid #aaa;
    border-radius: 3px;
}

QLineEdit:read-only {
    selection-color: black;
    selection-background-color: @Highlight;
    background-color: transparent;
}

QAbstractSpinBox:focus,
QLineEdit:focus,
QComboBox:focus {
    border-color: @Highlight;
}

QCheckBox,
QRadioButton,
QCheckBox:disabled,
QRadioButton:disabled {
    padding: 3px;
    outline: none;
}

/*****************************
       General Styles
*****************************/

#ErrorLabel {
    color: #E34234;
}

#BoldLabel {
    font-weight: bold;
}

/*****************************
    StartUpWidget Styles
*****************************/

StartUpWidget QToolButton {
    background-color: #0D69BB;
    icon-size: 4em;
    border-radius : 0.5em;
    padding: 0.5em;
    margin-left: 5em;
    margin-right: 5em;
}

StartUpWidget QToolButton:hover,
StartUpWidget QToolButton:focus {
    border: 1px solid #053763;
    background-color: #0a4d8a;
}

StartUpWidget QToolButton:pressed {
    background-color: #053763;
}

StartUpWidget QLabel {
    font-weight: 600;
    font-size: 16px;
}

StartUpWidget QToolButton#NewProjectButton{
    image: url(@Path/create-light.png);
}

StartUpWidget QToolButton#ImportProjectButton{
    image: url(@Path/browse-light.png);
}

StartUpWidget QToolButton#ImportR1Button{
    image: url(@Path/import-r1-light.png);
}

/*****************************
    StartUpDialog Styles
*****************************/

StartupDialog #CancelButton {
    icon: url(@Path/cancel-dark.png);
}

StartupDialog #BrowseButton {
    icon: url(@Path/browse-dark.png);
}

StartupDialog #CreateButton {
    icon: url(@Path/create-dark.png);
}

StartupDialog #LoadButton {
    icon: url(@Path/load-dark.png);
}

StartupDialog > QLabel {
    font-weight: bold;
}

StartupDialog QLineEdit[error="true"] {
    border: 1px solid #E34234;
}

StartupDialog QListWidget::item:hover {
    background-color: @Highlight;
}

StartupDialog QListWidget::item:selected {
    background: transparent;
}

StartupDialog QListWidget{
    margin: 0px;
    padding: 0px;
    background: transparent;
    border: 1px transparent;
}

StartupDialog QProgressBar {
    border: 1px solid grey;
    max-height: 5px;
    border-radius: 0px;
}

StartupDialog QProgressBar::chunk {
    background-color: @Highlight;
    width: 1px
}

DisplayWidget #title{
    font-weight: 600;
    font-size: 16px;
}

DisplayWidget #desc{
    color: #555
}

/*****************************
     ProjectWidget Styles
*****************************/

ProjectWidget QPushButton{
    margin: 4px 0px 4px 0px;
}

/*****************************
     PlotWidget Styles
*****************************/

#BayesResultSummary {
    border: 2px solid #8f8f91;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #dadbde;
}

#InteractButton {
    background-color: #dadbde;
}

#InteractButton:hover,
#InteractButton:focus {
    color: black;
    border-color: #3874f2;
}

#InteractButton:hover{
    background-color: #e0eef9;
}

#InteractButton:pressed {
    background-color: @Highlight;
}

#InteractButton:checked {
    background-color: @Highlight;
    border-color: #3874f2;
}

/*****************************
     TerminalWidget Styles
*****************************/

TerminalWidget QPlainTextEdit{
    background-color: white;
}

TerminalWidget QProgressBar{
    border-radius: 0px;
    border: 1px solid grey;
    text-align: center;
}

/*****************************
     ControlsWidget Styles
*****************************/

ControlsWidget #FitSettings{
    background-color: white;
}

ControlsWidget QPushButton {
    margin: 0;
}

ControlsWidget #PlayButton {
    color: white;
    icon: url(@Path/play.png);
    background-color: #2ecc71;
}

ControlsWidget #PlayButton:hover {
    background-color: #27ae60;
    border: 1px solid #828282;
}

ControlsWidget #PlayButton:pressed {
    background-color: #27ae60;
    margin-top: 2px
}

ControlsWidget #PlayButton:disabled {
    color: #bbb;
    background-color: #777;
}

ControlsWidget #StopButton {
    color: white;
    icon: url(@Path/stop.png);
    background-color: #e74c3c;
}

ControlsWidget #StopButton:hover {
    background-color: #c0392b;
    border: 1px solid #828282;
}

ControlsWidget #StopButton:pressed {
    background-color: #c0392b;
    margin-top: 2px
}

ControlsWidget #StopButton:disabled {
    color: #bbb;
    background-color: #777;
}

/*****************************
     TabWidget Styles
*****************************/

QTabWidget{
    border: none;
}

QTabWidget:focus {
    border: none;
}

QTabWidget::pane {
  border: 1px solid lightgray;
  top:-1px;
  background: #f5f5f5;;
}

QTabBar::tab {
  background: #e6e6e6;
  border: 1px solid lightgray;
  padding: 10px;
}

QTabBar::tab:!selected {
  background: @Midlight;
}

QTabBar::tab:selected {
  background: @Window;
  margin-bottom: -1px;
}

/*****************************
     QTableView Styles
*****************************/

QTableView
{
  background-color: white;
}

QTableView::disabled
{
  background-color: @Window;
}

QTableView item
{
  padding: 0;
  margin: 0;
}

QTableView QLineEdit,
QTableView QComboBox,
QTableView QSpinBox,
QTableView QDoubleSpinBox,
QTableView QPushButton{
    margin: 0;
    padding: 0;
}

QTableView QPushButton {
	border: transparent;
}

/*****************************
     QMenuBar Styles
*****************************/

QMenuBar {
  background-color: white;
}

QMenuBar:disabled,
QMenuBar::item:disabled{
    color: #646464;
}

QMenuBar::item {
  background-color: transparent;
}

QMenuBar::item:selected {
  background-color: #ddd;
  border: 0px solid #ababab;
}

QMenuBar::item:pressed {
  border: 0px solid #ababab;
  color: black;
}

/*****************************
   ProjectListWidget Styles
*****************************/

AbstractProjectListWidget QToolButton {
    icon-size: 18px;
}

AbstractProjectListWidget QPushButton {
    margin: 0, 0, 10px, 0;
}

AbstractProjectListWidget QTableView {
    border: 1px solid @Midlight;
    background-color: white;
}

#CountHeader::section {
    border: transparent;
}

#DelegateComboBox{
    padding: 0;
    margin: 0;
}

#ProjectFieldWidgetLabel {
    font-weight: 600;
}


/*****************************
   BayesPlotsDialog Styles
*****************************/

BayesPlotsDialog QPushButton {
    padding: 5px 12px 5px 12px;
    margin: 4px 0px 4px 0px;
}

/*****************************
   MultiSelectList Styles
*****************************/

MultiSelectList QToolButton {
    padding: 0;
    margin: 0;
}

/*****************************
    LabeledSlider Styles
*****************************/

LabeledSlider{
    border: 1px solid #999;
}
